<div id="wrap">
	<div id="header-region"></div>
	<div id="main-region"></div>
</div>

<div id="footer-wrapper">
	<div id="footer-region"></div>
</div>

<%= javascript_tag do %>
	$(function() {
		Demo.start({
			currentUser: gon.current_user
		});
	});
<% end %>

